.tasksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.tasksInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.tasksInfo .createdTasksInfo {
  display: flex;
  align-items: center;
  height: 1.118rem;
  width: 8.688rem;
  gap: 0.5rem;
}

.tasksInfo .createdTasksInfo>strong {
  color: var(--blue400);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.063rem;
}

.tasksInfo .createdTasksInfo>span {
  color: var(--gray200);
  background: var(--gray400);
  border-radius: 999px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.938rem;
  padding: 0.125rem 0.5rem;
  /* width: 1.563rem;
  height: 1.118rem; */
}

.tasksInfo .doneTasksInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 1.118rem;
  width: 8.688rem;
  gap: 0.5rem;
}

.tasksInfo .doneTasksInfo>strong {
  color: var(--purple400);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.063rem;
}

.tasksInfo .doneTasksInfo>span {
  color: var(--gray200);
  background: var(--gray400);
  border-radius: 999px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.938rem;
  padding: 0.125rem 0.5rem;
  /* width: 1.563rem;
  height: 1.118rem; */
}

.emptyTaskList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  gap: 1rem;
  border-top: 1px solid var(--gray400);
  border-radius: 8px;
  animation: fadeIn .5s both;
}

.emptyTaskList img {
  width: 3.5rem;
  height: 3.5rem;
}

.emptyTaskList span {
  line-height: 1.4;
  font-size: 1rem;
  text-align: center;
  color: var(--gray300);
  align-self: stretch;
}

.taskList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid var(--gray400);
  border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}