.taskCentralContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 46rem;
  height: 3.375rem;
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  margin-top: -1.687rem;
  align-items: center;
}

.taskCentralContainer .taskContent {
  margin-top: 4rem;
  max-height: 17.938rem;
  width: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 85.5%;
  }
}